@model Assessments.ViewModels.SetupViewModels.SetupAsessmentCheckoffListItem


    <div class="col-xs-12">
        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        @Model.Wording
    </div>
