@model Assessments.ViewModels.SetupViewModels.SetupCreateCategoriesViewModel

@{
    ViewBag.Title = "EditAssessment";
}

<h2>@Model.AssessmentName</h2>

<ul class="list-group">
    @foreach (var item in Model.Categories)
    {
        <a href="@Url.Action("EditCategory", new { id = item.ID })" class="list-group-item">@item.Name</a>
    }
</ul>