@model Assessments.ViewModels.SetupViewModels.SetupIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Setup Assessments</h2>
<div class="row">
    <div class="col-xs-12">
        <a href="@Url.Action("CreateAssessment")" class="btn btn-success" ><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Create New</a>
    </div>
</div>
<br/>
<div class="row">
    @foreach (var item in Model.Assessments)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>
                    @if (item.Live)
                    {
                        <span class="label label-primary">Live</span>
                    }
                    else
                    {
                        <span class="label label-warning">Locked</span>
                    }
                    </p>
                    <p>
                        <a href="@Url.Action("EditAssessment", new { id = item.ID })" class="btn btn-primary" role="button">Setup</a>
                    </p>
                </div>
            </div>
        </div>

    }
</div>
